 .invalid p {
    color: #ca3e51;
    font-size:0.8rem
  }
  
  .invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
  }
  .invalid textarea {
    border-color: #aa0b20;
    background-color: #ffeff1;
  }
  .spinner {
    animation: spin infinite 5s linear;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
  }
  .navbarbrand {
    color: #fff;
    padding-top: .7rem;
    padding-bottom: .7rem;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    margin-right:1rem;
    text-decoration: none;
    background-color: transparent;
 }
 .grey{
  color:#4d5055 !important
 }
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 